$TTL    604800
@       IN      SOA     ns.{{ dns_zone }}. admin.{{ dns_zone }}. (
                          2         ; Serial
                     604800         ; Refresh
                      86400         ; Retry
                     3600         ; Expire
                      300 )       ; Negative Cache TTL
;
@       IN      NS      ns.{{ dns_zone }}.
ns      IN      A       {{ dns_ip_address }}
{% for record in dns_records %}
{{ record.name }} IN A {{ record.ip }}
{% endfor %}
